.transaction {
  border-bottom: 2px solid rgb(12, 108, 242);
  padding: 20px;
}

.transaction:hover {
    background: #f2f2f2
}

#confirmed-tx {
  color: #58FC26
}

#unconfirmed-tx {
  color: #FF0000
}

#plus {
    color: #00cc00;
    cursor: pointer;
    padding: 0.25rem;
    background: #e6ffe6;
    border-width: 1px;
    border-style: solid;
    border-color: #e6ffe6;
    border-radius: 0.25rem;
}

#minus {
  color: #e60000;
  cursor: pointer;
  padding: 0.25rem;
  background: #ffcccc;
  border-width: 1px;
  border-style: solid;
  background: #ffcccc;
  border-image: initial;
  border-radius: 0.25rem;
}

.tx-span {
  color: #999999;
  font-weight: 7;
}
  